################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
versions = versions
parts = part
hooks-directory = ${buildout:directory}/hooks
develop-eggs-directory=../../eggs/develop-eggs
eggs-directory=../../eggs/cache

[versions]

[part]
md5sum=2f6ecca935948f7db92d925d88d0d078
recipe = minitage.recipe:cmmi
url = http://download.icu-project.org/files/icu4c/4.0.1/icu4c-4_0_1-src.tgz
configure=source/configure
configure-options=--enable-shared --enable-static
gmake=True

